html{
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
}
body {
  background: rgb(255,174,39); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(255,174,39,1) 0%, rgba(222,73,109,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,174,39,1)), color-stop(100%,rgba(222,73,109,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae27', endColorstr='#de496d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.container {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
#output {
  margin-top: 5em;
}
li {
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
  font-size: 2em;
}
#icon {
  color: white;
  font-size: 3.5em;
}
#weather-2 {
  margin-top: 1em;
  text-transform: capitalize;
}
#date {
  font-size: 1em;
  margin-top: .5em;
}
#weather-3,
#weather-4 {
  margin-top: .5em;
}
#weather-3 i,
#weather-4 i{
  margin-right: .5em;
  color: white;
}


